@tailwind base;
@tailwind components;
@tailwind utilities; 


::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

/* Color de fondo de la scrollbar */
::-webkit-scrollbar-track {
  background: #f4f4f4; /* Fondo claro */
  border-radius: 8px; /* Bordes redondeados */
}

/* Color de la barra deslizante */
::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del thumb (barra deslizante) */
  border-radius: 8px; /* Bordes redondeados */
  border: 3px solid #333; /* Espacio entre el thumb y el track */
}

/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color más oscuro al pasar el mouse */
}

/* Personalización para Firefox */
html {
  scrollbar-color: #2d3c50 #111827; /* thumb y track */
}